HTML,BODY{
	margin: 0;
	padding: 0;
	font:16px Arial, Helvetica, Sans-serif;
}

#lightBox{
	position:fixed;
	width:100%;
	height:100%;
	display:table;
	background: rgba(0,0,0,.3);
	background:url("../images/lightbox_transparent.png");
}

.wrap{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}

.stage{
	position: relative;
	max-width:299px;
	background:white; 
	margin:0 auto;
	border: 1px solid #DDDDDD;
}

.stage > H1{
	font: inherit;
	font-weight: bold;
	color: #DDDDDD;
	padding: 6px 7px 6px 8px;
	margin: 0 0 20px;
	background: #808080;
	border-bottom: 1px solid #DDDDDD;
}
.stage > P{
	font: inherit;
	color: #808080;
	margin: 0;
	text-align: center;
}

#loadBar{
	height: 14px;
	width: 150px;
	margin: 0 auto 17px;
	border: 1px solid #DDDDDD;
	overflow: hidden;
	position: relative;
}
.bar{
	height: inherit;
	width: inherit;
}
.loading{
	background: url("../images/ligthbox_loadbar-loading.png") repeat-x;
	position: absolute;
	top:0;
	left:-150px;
}
.complete{
	background: url("../images/ligthbox_loadbar-complete.png") repeat-x;
	display: none;
}

#close{
	position: absolute;
	width: 22px;
	height: 22px;
	top:5px;
	right: 10px;
	background: url("../images/lightbox_button-close.png") no-repeat;
	text-indent: -9999px;
}

#output{
	margin-bottom: 16px;
}
#output > span{
	width: 21px;
	height: 22px;
	display: inline-block;
	background: url("../images/ligthbox_tick.png") no-repeat;
	margin-bottom: -6px;
	margin-left: 9px;
}